<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="static/img/favicon.ico">
<title>MYJEANS</title>
<!-- Bootstrap core CSS -->
<link href="static/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="static/mediumish.css" rel="stylesheet">
</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="http://localhost:8010/">
	<img src="static/img/logo.png" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
			<a class="nav-link" href="http://localhost:8010/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="http://localhost:8010/men">Men</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="http://localhost:8010/women">Women</a>
			</li>
		</ul>
		<!-- End Menu -->
	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">MYJEANS</h1>
		<p class="lead">
			Cуществует несколько десятков моделей мужских джинсов в различных расцветках и исполнениях. Разобраться в них не всегда бывает просто. В этой статье мы расскажем о каждой модели джинсов и её особенностях.
		</p>
		<div class="section-title">
			<h2><span>МОДЕЛИ</span></h2>
		</div>
		<h2 id="posadka" class="ct-headline">
			Посадка - Rise
            <br>
		</h2>
		<div id="div_block-23587-2630" class="ct-div-block">
			<div id="text_block-22265-2417" class="ct-text-block">
				<span id="span-18307-2817" class="ct-span">
					<p>
						<strong>Посадка джинсов</strong>
						, 
						<em>англ. rise</em>
						 - это расстояние от верха пояса до шагового шва.
						</p>
			<p>
				Различают 3 вида джинсов по посадке: с высокой - high rise jeans, средней - mid rise jeans, низкой - low rise jeans. Также выделяют джинсы с заниженным шаговым швом - low crotch jeans.
			</p>
			<p>
				Почти все современные джинсы шьются с низкой и средней посадкой, высокая - это скорее экзотика.
			</p>
			</span>
		</div>
		<h2 id="cut" class="ct-headline">
			Крой низа штанин - Cut
		</h2>
		<div id="div_block-23722-2630" class="ct-div-block">
			<div id="text_block-23723-2630" class="ct-text-block">
				<span id="span-23724-2817" class="ct-span">
					<p>
						Крой штанины в области голени - по английски называется cut, или по другому - leg opening. Способ кроя низа штанин джинсов определяет их ширину, форму и длину.
					</p>
					<p>
					Формы низа штанин джинсов: клеш - 
					<em>bell bottom</em>
					или 
					<em>flared</em>
					, под ботинок - 
					<em>boot cut</em>
					, прямая - 
					<em>straight cut</em>
					, полузауженная - 
					<em>semi tapered cut</em>
					, зауженная - 
					<em>tapered cut</em>
					.
					</p>
					<p>
					<span style="color: #938564; font-size: 22px;">ℹ</span>
					Часто возникает путаница из-за того, что одни и те же названия могут относиться и к 
					<em>cut</em>
					'у - крою штанин, и к джинсам в целом! Например - 
					<em>tapered cut</em>
					- это сужение от колена до низа штанины, а 
					<em>tapered fit</em>
					- это сужение книзу всего силуэта джинсов, то есть штанины полностью в таком стиле - сужаются от самого верха к низу. Характеристику силуэта джинсов в целом - 
					<em>fit</em>
					, разберем ниже.
					</p>
				</span>
			</div>
		</div>
		<h2 id="fit" class="ct-headline">
			Силуэт - Fit
			<br>
		</h2>
		<div id="div_block-24319-2630" class="ct-div-block">
			<div id="text_block-24320-2630" class="ct-text-block">
				<span id="span-24321-2817" class="ct-span">
					<p>
						<strong>Силуэт джинсов</strong>
						, 
						<em>jeans fit</em>
						 - это общая характеристика силуэта кроя джинсов в целом. 
						<em>Fit</em>
						  определяет форму джинсов - например, свободные они, сужаются книзу или облегающие.
					</p>
				</span>
			</div>
		</div>
        <div class="section-title">
            <h2><span>МАТЕРИАЛЫ</span></h2>
        </div>
        <h2 id="posadka" class="ct-headline">
			Деним - Denim
            <br>
		</h2>
		<div id="div_block-23587-2630" class="ct-div-block">
			<div id="text_block-22265-2417" class="ct-text-block">
				<span id="span-18307-2817" class="ct-span">
					<p>
						<strong>Деним</strong>
                        - классика, это плотная ткань, полностью состоит из хлопка.
						</p>
			<p>
				Допускается небольшой процент эластана в составе — он делает материал менее грубым, при этом повышает его износостойкость.
			</p>
			</span>
		</div>
        <h2 id="posadka" class="ct-headline">
			Стрейч - Stretch
            <br>
		</h2>
		<div id="div_block-23587-2630" class="ct-div-block">
			<div id="text_block-22265-2417" class="ct-text-block">
				<span id="span-18307-2817" class="ct-span">
					<p>
						<strong>Стрейч</strong>
                        — джинсовая ткань с большим процентом эластана.
						</p>
			<p>
				Менее плотная, растягивается, хорошо облегает. В основном используется для пошива обтягивающих моделей.
			</p>
			</span>
		</div>
        <h2 id="posadka" class="ct-headline">
			Джин - Gin
            <br>
		</h2>
		<div id="div_block-23587-2630" class="ct-div-block">
			<div id="text_block-22265-2417" class="ct-text-block">
				<span id="span-18307-2817" class="ct-span">
					<p>
						<strong>Джин</strong>
                        — хлопковая ткань, в составе также есть полиэстер и вискоза.
						</p>
			<p>
				Благодаря такому сочетанию вещи мягкие, приятные к телу. Материал синего цвета, равномерной окраски.
			</p>
			</span>
		</div>
        <h2 id="posadka" class="ct-headline">
			Шамбри - Chambry
            <br>
		</h2>
		<div id="div_block-23587-2630" class="ct-div-block">
			<div id="text_block-22265-2417" class="ct-text-block">
				<span id="span-18307-2817" class="ct-span">
					<p>
						<strong>Шамбри</strong>
                        — ткань из хлопка и льна.
						</p>
			<p>
				Материал мягкий, тонкий, подходит в основном для теплого времени года.
			</p>
			</span>
		</div>
        <h2 id="posadka" class="ct-headline">
			Эйкру - Ekrus
            <br>
		</h2>
		<div id="div_block-23587-2630" class="ct-div-block">
			<div id="text_block-22265-2417" class="ct-text-block">
				<span id="span-18307-2817" class="ct-span">
					<p>
						<strong>Эйкру</strong>
                        — натуральная джинса, неокрашенная.
						</p>
			<p>
				Материал имеет цвет натурального хлопкового полотна.
			</p>
			</span>
		</div>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>JEANS</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		{{ range .WomenJeansData }}
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="http://localhost:8010/menjeans">
						<div class="thumbnail" style="background-image:url('{{ .URL }}');">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="http://localhost:8010/menjeans">{{ .NameRu }}</a></h2>
						<h2 class="card-text">{{ .NameEng }}</h2>
						<h3 class="card-text">{{ .Discription }}</h3>
					</div>
				</div>
			</div>
		</div>
		{{ end }}
		<!-- end post -->
	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2024 MYJEANS
		</p>
		<p class="pull-right">
			 Create WebSite <a target="_blank" href="https://github.com/NikolasDeForce">NickDeForce</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
